SECRET_KEY=django-insecure-your-secret-key-here-change-in-production
DEBUG=False
DATABASE_NAME=sigea
DATABASE_USER=sigea_user
DATABASE_PASSWORD=sigea_pass_2026
DATABASE_HOST=postgres_db
DATABASE_PORT=5432

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_ADMIN_EMAIL=admin@fce.uncu.edu.ar
GOOGLE_ADMIN_DOMAIN=fce.uncu.edu.ar